
h1
{
    font-family: cursive;
    color:rgb(37, 121, 194);
}

label
{
    font-style: italic;
    font-weight: bold;
    color: rgb(20, 133, 174);
}

input[type=text] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid lightgrey;
} 

button 
{
    background-color: #045c97;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px;
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}
  
button:hover 
{
    opacity: 1
}

p
{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(54, 122, 182);
}

  